body {
    .original {
        >:first-child {
            .peachBackground {
                background-image: url(images/bv-peach.png);
            }
        }
        >:nth-child(2){
            >div{
                >div{
                    .peachBottle {
                        background-image: url(images/5.png);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    body {
        .original {
            >:first-child {
                .peachBackground {
                    background-image: url(images/bv-peach-mobile.png);
                    background-position: center;
                }
            }
        }
    }
}